<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:component-scan base-package="com.essamine.controllers" />
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/view/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- injection -->
	<bean class="com.essamine.service.ReservationServiceImpl" id="reservationService" />


	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<!-- <property name="defaultLocale" value="en" /> -->
	</bean>
	<!-- interceptors -->
	<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"
		id="localeChangeInterceptor">
		<property name="paramName" value="language" />
	</bean>
	<bean class="com.essamine.interceptors.TimeInterceptor" id="timeInterceptor" />
	<!-- Fin intercepters -->

	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
		<property name="interceptors">
			<list>
				<ref bean="timeInterceptor" />
				<ref bean="localeChangeInterceptor" />
			</list>
		</property>
	</bean>

</beans>
